{% extends "base.html" %} {% block content %}

<form class="mt-2" id="search_form">
    <div class="input-group" style="display:flex; flex-grow:1;">
        <input name="search" type="text" class="form-control border-right-0 border" value="" id="search" aria-describedby="basic-addon3">
        <div class="input-group-append">
            <button class="btn btn-outline-secondary border-left-0 border" type="submit" id="search_btn">
            <i class="fa fa-search"></i>
            </button>
        </div>
    </div>
</form>


<small class="text-muted mt-0 ml-2" id="ep-loaded"></small>

<ul class="list-group mt-3 mb-3" id="episode-list">
    <template id="item-template">
        <li class="list-group-item">
            <div class="d-flex w-100 justify-content-between">
                <h6 class="mb-1 text-truncate" style="flex: 1;">
                    <a href="" target="_blank" rel="noopener noreferrer" id="filename"></a>
                </h6>
                <small title="" id="datetime"></small>
            </div>
            <img src="" witdh="116" height="118" class="rounded float-left mt-1 mr-2" id="poster"></a>
            <p class="mb-0 small text-truncate">
                <a href="" title="" target="_blank" rel="noopener noreferrer" id="vod_info"></a>
            </p>
            <p class="mb-0 small text-truncate">
                <a href="" title="" target="_blank" rel="noopener noreferrer" id="program_info"></a>
            </p>
            <div id="description"></div>
            <p class="mb-0 small text-truncate" id="air_info"></p>
        </li>
    </template>
</ul>

<!-- element to trigger the IntersectionObserver -->
<div class="d-flex justify-content-center mb-3" id="sentinel">
    <div class="spinner-border" role="status"></div>
</div>
<!--전체-->

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.0/animate.min.css">

<!--context menu-->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-contextmenu/2.8.0/jquery.contextMenu.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-contextmenu/2.8.0/jquery.contextMenu.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-contextmenu/2.8.0/jquery.ui.position.js"></script>

<style type="text/css">
.small, small { font-size: 95%; }
</style>

<script type="text/javascript">
    var package_name = "{{arg['package_name']}}";
    var list_url_base = `/${package_name}/ajax/episode?`;

    // Get references to the dom elements
    var scroller = document.querySelector("#episode-list");
    var template = document.querySelector('#item-template');
    var loaded = document.querySelector("#ep-loaded");
    var sentinel = document.querySelector('#sentinel');

    var counter = 0;
    var page = 1;
    var has_more = true;
    var rawjson = {};
    var list_url = list_url_base;

    // Function to request new items and render to the dom
    // https://pythonise.com/categories/javascript/infinite-lazy-loading
    function loadItems() {
        if (!has_more) {
            sentinel.innerHTML = "No more items";
            return;
        }
        // Use fetch to request data and pass the page value in the QS
        fetch(`${list_url}&page=${page}`).then((response) => {
            response.json().then((res) => {
                if (!res.success) {
                    sentinel.innerHTML = `ERROR: ${res.log}`;
                    has_more = false;
                    return;
                }
                var ep_list = res.episodes.list;
                has_more = res.episodes.has_more;
                if (!ep_list.length) { 
                    sentinel.innerHTML = "No more items";
                    loaded.innerText = `${counter}개의 에피소드`;
                    return;
                }
                // Iterate over the items in the response
                for (var i = 0; i < ep_list.length; i++) {
                    render_single_episode(ep_list[i], false);
                    // Increment the page
                    counter += 1;
                    // Update the counter
                    loaded.innerText = `${counter}개의 에피소드`;
                    $.extend(rawjson, {[ep_list[i].id]: ep_list[i].raw});
                }
                page += 1;
            })
        })
    }

    // Create a new IntersectionObserver instance
    var intersectionObserver = new IntersectionObserver(entries => {
        // Uncomment below to see the entry.intersectionRatio when
        // the sentinel comes into view

        // entries.forEach(entry => {
        //   console.log(entry.intersectionRatio);
        // })

        // If intersectionRatio is 0, the sentinel is out of view
        // and we don't need to do anything. Exit the function
        if (entries[0].intersectionRatio <= 0) {
            return;
        }

        // Call the loadItems function
        loadItems();
    });

    // Instruct the IntersectionObserver to watch the sentinel
    intersectionObserver.observe(sentinel);

    function reloadItems(list_url_params='') {
        list_url = list_url_base + list_url_params;
        intersectionObserver.unobserve(sentinel);
        scroller.querySelectorAll('*').forEach(n => n.remove());
        page = 1;
        counter = 0;
        rawjson = {};
        has_more = true;
        intersectionObserver.observe(sentinel);
    }

    $("#search_form").submit(function(e) {
        e.preventDefault();
        var form = $(this);
        var keyword = $("[name='search']", form).val();
        reloadItems(`&search=${encodeURIComponent(keyword)}`);
    });

    function render_single_episode(data) {
        const datetime = new Date(data.datetime);
        const datetimeFormat = new Intl.DateTimeFormat('en-US', {
            month: 'short',
            day: 'numeric',
            hour: 'numeric',
            hour12: false,
            minute: 'numeric'
        });
        
        // Clone the HTML template
        let template_clone = template.content.cloneNode(true);

        template_clone.querySelector("li").setAttribute("vcode", data.raw.vod_code);
        template_clone.querySelector("li").setAttribute("pcode", data.raw.program.code);
        template_clone.querySelector("li").setAttribute("cname", data.raw.channel.name.ko);
        template_clone.querySelector("li").setAttribute("item-id", data.id);

        template_clone.querySelector("#filename").innerHTML = data.filename;

        template_clone.querySelector("#datetime").title = data.datetime;
        template_clone.querySelector("#datetime").innerHTML = datetimeFormat.format(datetime);

        template_clone.querySelector("#poster").src = data.poster_url;
        
        template_clone.querySelector("#vod_info").href = `http://www.tving.com/vod/player/${data.raw.vod_code}?csite=tving_web`;
        template_clone.querySelector("#vod_info").title = data.raw.episode.synopsis.ko;
        template_clone.querySelector("#vod_info").innerHTML = data.raw.vod_name.ko;
        if (data.is_qvod) {
            $('<span class="ml-1 badge badge-pill badge-danger">QVOD</span>').insertAfter(template_clone.querySelector("#vod_info"));
        }
        
        template_clone.querySelector("#program_info").href = `http://www.tving.com/vod/player/${data.raw.program.code}?csite=tving_web`;
        template_clone.querySelector("#program_info").title = data.raw.program.synopsis.ko;
        template_clone.querySelector("#program_info").innerHTML = data.raw.program.name.ko;

        template_clone.querySelector("#air_info").innerHTML = data.air_info;

        // Append template to dom
        scroller.appendChild(template_clone);
    }

    
    $(function(){
        $.contextMenu({
            selector: 'h6 > a',
            trigger: 'left',
            callback: function(key, options) {
                // let filename = $(this).text().trim();

                if (key === "more_eps") {
                    let pcode = $(this).closest("li").attr('pcode');
                    reloadItems(`&search=${encodeURIComponent(pcode)}`);
                } else if (key === "add_vod_excl") {
                    let vcode = $(this).closest("li").attr('vcode');
                    append_filter('vcode_exclude', vcode);
                } else if (key === "add_ch_incl") {
                    let cname = $(this).closest("li").attr('cname');
                    append_filter('channel_include', cname);
                } else if (key === "add_ch_excl") {
                    let cname = $(this).closest("li").attr('cname');
                    append_filter('channel_exclude', cname);
                } else if (key === "view_rawjson") {
                    let item_id = $(this).closest("li").attr('item-id');                    
                    document.getElementById("modal_title").innerHTML = '상세 정보';
                    document.getElementById("modal_body").innerHTML = "<pre>"+JSON.stringify(rawjson[item_id], null, 2) + "</pre>";
                    $("#large_modal").modal();
                } 
            },
            items: {
                "more_eps": {
                    name: "에피소드 더 보기",
                    icon: "fa-search"
                },
                "add_vod_excl": {
                    name: "이 에피소드 다음부터 안보기",
                    icon: "fa-minus"
                },
                "sep1": "---------",
                "add_ch_incl": {
                    name: "포함 채널에 추가",
                    icon: "fa-plus"
                },
                "add_ch_excl": {
                    name: "제외 채널에 추가",
                    icon: "fa-plus"
                },
                "sep2": "---------",
                "view_rawjson": {
                    name: "JSON",
                    icon: "fa-info-circle"
                }
            }
        });
    });

    function append_filter(key, val) {
        $.ajax({
            url: `/${package_name}/ajax/append_filter`,
            type: 'POST',
            cache: false,
            data: {
                'key': key,
                'val': val
            },
            dataType: "json",
            success: function (data) {
                if (data.success) {
                    $.notify('<strong>추가하였습니다.</strong>', {
                        type: 'success'
                    });
                } else {
                    $.notify('<strong>실패하였습니다!</strong><br>' + data.log, {
                        type: 'warning'
                    });
                }
            }
        });
    }

</script>


{% endblock %}