{% extends "base.html" %} {% block content %}

<div>
    <nav>
        {{ macros.m_tab_head_start() }} 
            {{ macros.m_tab_head('basic', '기본', true) }} 
        {{ macros.m_tab_head_end() }}
    </nav>
    <div class="tab-content mb-3" id="nav-tabContent">
        <!-- 일반 -->
        {{ macros.m_tab_content_start('basic', true) }}
        <form id="setting" name="setting">
            {{ macros.setting_checkbox('tvp_excl_filter_enabled', '제외 필터', value=arg['tvp_excl_filter_enabled'], desc=['제외 필터는 에피소드만 적용 됩니다.']) }}
            <div id="tvp_excl_filter_enabled_div" class="collapse{{ ' show' if arg['tvp_excl_filter_enabled'] == 'True' else '' }}">
            {{ macros.setting_input_text('tvp_excl_filter_episode', '제외 에피소드', value=arg['tvp_excl_filter_episode'], desc=['E로 시작하는 에피소드 코드를 ,로 구분하여 입력']) }}
            {{ macros.setting_input_text('tvp_excl_filter_program', '제외 프로그램', value=arg['tvp_excl_filter_program'], desc=['P로 시작하는 프로그램 코드를 ,로 구분하여 입력']) }}
            {{ macros.setting_input_text('tvp_excl_filter_channels', '제외 채널', value=arg['tvp_excl_filter_channels'], desc=['제외할 채널명을 ,로 구분하여 입력']) }}
            {{ macros.setting_input_text('tvp_excl_filter_category', '제외 장르', value=arg['tvp_excl_filter_category'], desc=['제외할 장르를 ,로 구분하여 입력']) }}
            </div>
            {{ macros.setting_buttons([['globalSettingSaveBtn', '저장']]) }}
        </form>
        {{ macros.m_tab_content_end() }}
    </div>
    <!--tab-content-->
</div>
<!--전체-->



<script type="text/javascript">
    var package_name = "{{arg['package_name']}}";

    $(document).ready(function() {
        
    });

    $('#tvp_excl_filter_enabled').change(function() {
        use_collapse('tvp_excl_filter_enabled');
    });

    $('#tvp_excl_filter_enabled').is(':checked')

</script>

{% endblock %}
